@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --gray1: #2B3137;
  --gray1-rgb: 43, 49, 55;
  --gray2: #24292e;
  --gray2-rgb: 36, 41, 46;
  --gray3: #15181b;
  --gray3-rgb: 21, 24, 27;
  

  --offwhite: #e9edee;

  --pastelGreen: #8ecf8e;
  --pastelGreenDark: #78ac78;

  --calibre: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;
  
  /* --offwhite: #F5F9E9; */

  --redPrimary: #c55549;

  --heroGray: #b9b9b9;

  --white1: 234, 234, 234;


  --foreground: #24292e;
  --background: #24292e;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e9edee;
    --background: #2B3137;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

.karm {
  position: fixed;
  bottom: 0;
  height: 20px;
  background-color: var(--gray1);
  width: 100%;
  z-index: 20;
}

h {
  font-family: var(--calibre);
  font-weight: 500!important;
}
h2 {
  font-size: 2rem;
  font-weight: 500!important;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500!important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes floater {
  0% {
    transform: translateY(7px);
  }
  50% {
      transform: translateY(-14px);
      color: #d68b83;
  }
  100% {
    transform: translateY(7px);
  }

  }
@keyframes bop {
  0%, 15% {
    transform: none;
    opacity: 1;
    color: #d9ebe5;
  }
  2%, 12% {
      transform: translateY(-2px);
      color: #e1e6a2;
  }
  6% {
      transform: translateY(3px);
      opacity: 1;
      color: #c4d1cd;
    }
  }

  .separate-line {
    height: 2px;
    background-color: var(--redPrimary);
  }

.bop {
  animation: bop 1s ease-in-out infinite;
}
.scroll {
  margin: 0 2px;
  color: #dff7f0;
  display: inline-block;
  animation: floater 4s ease-in-out infinite;
  font-family: BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.scroll-container {
  margin: 0 auto;
  bottom: 50px;
  position: absolute;
}

.scroll-line {
  height: 200px;
  width: 1px;
  background-color: var(--offwhite);
  opacity: 0.8;
  border-radius: 1px;
  animation: floater 4s ease-in-out infinite;
  animation-delay: 1.33s!important;
}

.scroll-container :nth-child(1) {
  animation-delay: 1s;
}
.scroll-container :nth-child(2) {
  animation-delay: 1.11s;
}
.scroll-container :nth-child(3) {
  animation-delay: 1.22s;
}
.scroll-container :nth-child(4) {
  animation-delay: 1.33s;
}
.scroll-container :nth-child(5) {
  animation-delay: 1.44s;
}
.scroll-container :nth-child(6) {
  animation-delay: 1.55s;
}


.contact-me {
  margin-top: 1000px;
}




.gray1 { 
  color: var(--gray1);
}
.gray2 { 
  color: var(--gray2);
}
.gray3 { 
  color: var(--gray3);
}
.gray1-bg { 
  background-color: var(--gray1);
}
.gray2-bg { 
  background-color: var(--gray2);
}
.gray3-bg { 
  background-color: var(--gray3);
}

.offwhite {
  color: var(--offwhite);
}
.offwhite-bg {
  background-color: var(--offwhite);
}
/* .offwhite {
  color: var(--offwhite);
}
.offwhite-bg {
  color: var(--offwhite);
} */
.wisteria {
  color: #cf9450;
}

.belize {
  color: #4293c9;
}

.pomegranate {
  color: #c55549;
}

.green {
  color: #3dbca3;
}

.midnight {
  color: #2c3e50;
}

.eerie-color {
  color: var(--eerieBlack)!important;
}
.primaryRed {
  color: var(--redPrimary)!important;
}
.bg-primaryRed {
  background-color: var(--redPrimary)!important;
}
.border-primaryRed {
  border-color: var(--redPrimary)!important;
}
.bg-hero-gray {
  background-color: var(--heroGray);
}
.color-hero-gray {
  color: var(--heroGray);
}

.times {  font-family: 'Anton', serif;}
.fantasy {  font-family: 'open-sans', sans-serif; font-weight: lighter;}
.font-mono {font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;}
.font-sans {  font-family: 'Calibre', 'Inter', 'San Francisco', 'SF Pro Text', -apple-system, system-ui, sans-serif;}

.header {
  display: flex;
  top: 0;
  justify-content:space-between;
  align-items: center;
  padding: 5px;
  height: 70px;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.sticky-header {
  z-index: 2;
  position: fixed;
  top: -100px;
  transition: top 0.5s ease-in-out;
  background-color: rgba(var(--gray2-rgb), 0.7); 
  backdrop-filter: blur(10px);
}
/* .sticky-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none; 
} */

.sticky-header.visible {
  top: 0; 
}

.navlink {
  font-size: 20px;
  width: fit-content;
}
.nav-item {
  padding: 5px 10px;
  margin: 0 15px;
}
.navbar {
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

.nav-block {
  display: flex;
  flex-direction: row;
  
}

.home-logo {
  padding: 5px;
}

.main-container {
  margin-top: clamp(10px, 130vh, 1300px);
  width: 100%;
  position: relative;
}


/* HERO --------------------------------------------------- */


.hero-container {
  display: flex;
  height: 100vh;
  max-height: 1000px;
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  background-color: var(--gray1);
  padding-top: 300px;
  justify-content: center;
}

.hero-content {
  width: 750px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
}

.hero-title {
  position: relative;
  width: 450px;
  height: 40px;
  font-size: 40px;
  margin-bottom: 35px;
  display: flex;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  font-family: var(--calibre);
  font-weight: 200;
  font-size: 17px;
}

.word {
  position: absolute;
  width: 650px;
  margin-bottom: -20px;
  opacity: 1;
  transition: opacity 0.4s;
  margin-top: 1px;
}


.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.025, 0.75, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hero-para {
  font-size: 20px;
  font-weight: 200;
  color: var(--offwhite);
  font-family: var(--calibre);
  width: 790px;
}




@media screen and (min-height: 940px) and (max-width: 1850px){

}

@media screen and (max-width: 1639px){

}
@media screen and (max-width: 1430px){


}



/* MAIN ----------------------------------------------------------------- */


#about-me {
  padding-top: 100px;
  margin-top: -100px;
}



.about-para {
  font-size: 17px;
  line-height: 30px;
  margin: 15px 20px;
  width: 100%;
}

.testest {
  padding: 10px 20px;
  margin-bottom: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  font-weight: 600;
  color: #aaa5a5;
  width: fit-content;
  font-family: "Source Sans Pro", sans-serif;
  height: fit-content;
}

strong {
  font-weight: 500;
}

.field-label {
  color: var(--offwhite);
}

footer {
  bottom: 0;
  display: flex;
  background-color: var(--offwhite);
}

.socials-footer {
  flex: 1 1 auto;
  display: flex;
  padding: 120px 30px;
  justify-content: center;
}

.icon-container {
  display: flex;
  margin: 5px 20px;
}

.social-icon {
  color: var(--gray3);
}

.contact-me {
  flex: 1 1 auto;
  padding: 30px 50px;
  margin-bottom: 100px;
}